import React, { Component } from 'react';
import { Row, Col, Image } from 'react-bootstrap';

<% helpers = ActionController::Base.helpers %>

export default class Project extends Component {
  constructor(props) {
    super(props);
    this.repo = this.repo.bind(this);
  }

  repo() {
    if (this.props.project.repo) {
      return <a href={this.props.project.repo}>View repository</a>;
    }
  }

  image() {
    if (this.props.project.url) {
      return <a href={this.props.project.url}><Image src={this.props.project.fingerprinted_image} /></a>;
    } else {
      return <Image src={this.props.project.fingerprinted_image} />;
    }
  }

  render() {
    var project = this.props.project;
    return (
      <div className="project">
        <Row>
          <Col xs={10} xsOffset={1} md={6} mdOffset={0}>
            {this.image()}
          </Col>
          <Col xs={12} md={6} className="blurb text-center">
            <h2>{project.name}</h2>
            {this.repo()}
            <p dangerouslySetInnerHTML={{__html: project.description}}></p>
          </Col>
        </Row>
      </div>
    );
  }
}
