import React, { Component } from 'react';
import { Panel } from 'react-bootstrap';

<% helpers = ActionController::Base.helpers %>

export default class Snippet extends Component {
  render() {
    return (
      <Panel header={this.props.snippet.name} eventKey={this.props.snippetEventKey} defaultExpanded={false} >
        {this.props.snippet.preface}
        <div className="code">
          {this.props.snippet.body}
        </div>
      </Panel>
    );
  }
}
