@import 'colours';

html, body {
  height: 100%;
}

.headroom-wrapper {
  padding-top: 1rem;
  .nav-pills {
    li {
      a {
        color: map-get($colours, orange);
        font: {
          size: 16px;
        }
      }
      &.active {
        a {
          color: #fff;
          background-color: map-get($colours, orange) !important;
        }
      }
    }
  }
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -10rem;
  padding: 0 0 10rem;
}

.footer {
  background: map-get($colours, burnt-grey);
  text-align:center;
  padding: 2rem 5rem;
  color: map-get($colours, white);
  img {
    width: 8rem;
  }
  .nav-pills {
    margin-top: 5rem;
    a {
      color: map-get($colours, white);
      &:hover {
        color: map-get($colours, orange);
      }
    }
  }
}
