@import 'colours';

html, body {
  background-color: map-get($colours, blue);
}

.main-img {
  background-color: map-get($colours, blue);
  width: 100%;
  margin-top: -10rem;
}

.about {
  background: map-get($colours, faded-orange);
  text-align:center;
  padding: 80px 60px;
  color: map-get($colours, orange);
  p {
    font-size:16px;
  }
  img {
    height:120px;
    margin: 20px;
  }
}

.languages {
  padding: 10rem 0;
  background-color: map-get($colours, faded-blue);
  ul {
    li {
      list-style-type: none;
      display: inline-block;
      margin-right: 10rem;
    }
    img {
      width: 10rem;
    }
  }
}

.tooltip {
  .tooltip-inner {
    background-color: map-get($colours, orange) !important;
  }
  .tooltip-arrow {
    border-top-color: map-get($colours, orange) !important;
  }
}

.support {
  background: map-get($colours, faded-orange);
  color: map-get($colours, orange);
  padding: 80px 60px;
  ul {
    li {
      list-style-type: none;
      & > * {
        display: inline-block;
      }
      img {
        height:60px;
        width:60px;
        margin: 2.5rem 0;
        background-color: map-get($colours, white);
        box-sizing: content-box;
        position: relative;
        left: -1rem;
        &, & + .title {
          top: 1rem;
        }
        &.selected {
          border: {
            width: 1rem;
            style: solid;
            color: map-get($colours, orange);
          }
          &, & + .title {
            top: 0.4rem;
          }
          left: 0;
          margin-bottom: 1rem;
        }
        &.rotate {
          transition: transform .5s ease-in-out;
          -webkit-transition: transform .5s ease-in-out;
          -moz-transition: transform .5s ease-in-out;
        }
        &.rotated {
          -webkit-transform: rotate(360deg) scale(1.3);  /* Chrome, Safari 3.1+ */
          -moz-transform: rotate(360deg) scale(1.3);  /* Firefox 3.5-15 */
          -ms-transform: rotate(360deg) scale(1.3);  /* IE 9 */
          -o-transform: rotate(360deg) scale(1.3);  /* Opera 10.50-12.00 */
          transform: rotate(360deg) scale(1.3);  /* Firefox 16+, IE 10+, Opera 12.10+ */
          transition: transform .5s ease-in-out;
          -webkit-transition: transform .5s ease-in-out;
          -moz-transition: transform .5s ease-in-out;
        }
      }
      h3.title {
        position: absolute;;
        transition-duration: 1s;
        left: -40rem;
      }
      .arrow {
        width: 0;
      	height: 0;
        border: {
          top: 25px solid transparent;
        	right: 50px solid #fff;
        	bottom: 25px solid transparent;
        }
        position:absolute;
        margin: 8% 0 0 8%;
      }
    }
  }
  .info {
    margin: 140px 20px;
    font-size:16px;
  }
}
