@import 'colours';

html, body {
  background-color: map-get($colours, faded-orange);
  overflow-x: hidden;
}

#wrap {
  background-color: map-get($colours, faded-orange);
}

.faded-orange {
  background-color: map-get($colours, faded-orange);
}

.main {
  color: map-get($colours, dark-grey);
  h1 {
    margin-top: 12rem;
  }
}

.well {
  background-color: rgba(247, 247, 247, 0.5) !important;
  background-image: none !important;
  box-sizing: border-box;
  padding: 0 5rem !important;
  .code {
    pre {
      padding: 2rem;
      margin: 2rem 1rem 1rem;
      background: map-get($colours, faded-orange);
      border-radius: 5px;
    }
  }
}

.panel-heading {
  text-align: center;
  a {
    &:hover {
      text-decoration: none;
      color: map-get($colours, orange);
      cursor: pointer;
    }
  }
}
